!!!
%html{ 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml' }
  %head

    / Title
    %title
      - unless @title.nil? then
        = @title + " - Built in Manchester"
      - else
        Built in Manchester: A collection of Manchester's technology startups

    / General Information
    %meta{ :charset => "utf-8" }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %meta{ :name => "description", :content => "Built in Manchester is a collection of awesome startups - both established and upcoming - all of which are proudly based in Manchester, UK." }
    %meta{ :name => "tags", :content => "manchester startups, based in manchester, technology startups, uk startups, british startups, north west startups" }

    / Social media goodness
    - if @opengraph.nil? then
      %meta{ :property => "og:site_name", :content => "Built in Manchester" }
      %meta{ :property => "og:title", :content => "Built in Manchester: A collection of Manchester's technology startups" }
      %meta{ :property => "og:type", :content => "website" }
      %meta{ :property => "og:description", :content => "Built in Manchester is a collection of awesome startups - both established and upcoming - all of which are proudly based in Manchester, UK." }
      %meta{ :property => "og:image", :content => "http://www.builtinmcr.com/assets/logo@2x.png" }
      %meta{ :property => "og:url", :content => "http://www.builtinmcr.com" }
    - else

      -# %meta{ :property => "place:location:latitude", :content => "" }
      -# %meta{ :property => "place:location:longitude", :content => "" }

      %meta{ :property => "og:site_name", :content => "Built in Manchester" }
      %meta{ :property => "og:title", :content => @opengraph[:startup][:name].to_s + " - Built in Manchester" }
      %meta{ :property => "og:url", :content => @opengraph[:startup][:url] }
      %meta{ :property => "og:description", :content => @opengraph[:startup][:description] }
      %meta{ :property => "og:image", :content => @opengraph[:startup][:logo] }
      %meta{ :property => "og:type", :content => "article" }
      %meta{ :property => "og:article:tag", :content => @opengraph[:startup][:tags][0][:name] }
      %meta{ :property => "og:article:published_time", :content => @opengraph[:when][:listed] }
      %meta{ :property => "og:article:modified_time", :content => @opengraph[:when][:updated] }
      %meta{ :property => "og:locale", :content => "en_GB" }

      %meta{ :property => "fb:admins", :content => "555155596" }
      

    / Mobile-friendly tags - Taken from http://html5boilerplate.com/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ :rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/assets/icon-144x144.png" }
    %meta{ :rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/assets/icon-114x114.png" }
    %meta{ :rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/assets/icon-72x72.png" }
    %meta{ :rel => "apple-touch-icon-precomposed", :sizes => "57x57", :href => "/assets/icon-57x57.png" }
    %meta{ 'http-equiv' => 'cleartype', :content => 'on' }

    - if false then
      / Bing goodness
      %meta{ :name => "geo.placename", :content => "Startup" }
      %meta{ :name => "geo.position", :content => "x;x" }
      %meta{ :name => "geo.region", :content => "usa" }
      %meta{ :name => "ICBM", :content => "x,x" }

    / Stylesheets
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{:rel => "author", :type => "text/plain", :href => "/humans.txt"}
    %link{:rel => "icon", :type => "image/png", :href => "/assets/icon.png" }

  %body

    .container
      .three.columns.sidebar
        %nav
          %h1= link_to content_tag(:span, "Built in Manchester"), root_path
          %ul
            %li{ :class => is_active?("startups#index") }= link_to "Featured", root_path
            %li{ :class => is_active?("startups#hiring") }= link_to "Hiring", startups_hiring_path
            %li{ :class => is_active?("startups#latest") }= link_to "Latest", startups_latest_path
            %li{ :class => is_active?("startups#all") }= link_to "All", startups_all_path

            %hr

            %li.other{ :class => is_active?("startups#search") }= link_to "Search", startups_search_path
            %li.other{ :class => is_active?("startups#apply") }= link_to "Apply", startups_apply_path
            %li.other{ :class => is_active?("about#index") }= link_to "About", about_path
            
            - if session[:admin] then
              %li.other= link_to "Admin", admin_index_path

      .thirteen.columns.content

        %section
          = yield


      %script{ :type => "text/javascript", :src => "//use.typekit.net/kxy0ewh.js" }
      :javascript
        try{Typekit.load();}catch(e){}

      :javascript
        var GoSquared = {};
        GoSquared.acct = "GSN-579350-R";
        (function(w){
          function gs(){
            w._gstc_lt = +new Date;
            var d = document, g = d.createElement("script");
            g.type = "text/javascript";
            g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
            var s = d.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(g, s);
          }
          w.addEventListener ?
            w.addEventListener("load", gs, false) :
            w.attachEvent("onload", gs);
        })(window);
